.essentialsContent {
  width: 100%;
  height: 640px;
  background-image: url(./img/bg-essential.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 104px;
}

.essentialsText {
  text-align: center;
}

.essentialsText p {
  font-size: 17px;
  padding-top: 62px;
  padding-bottom: 11px;
  color: #56593d;
}

.essentialsText h2 {
  width: 100%;
  max-width: 1093px;
  font-size: 50px;
  font-weight: 400;
  margin: 0 auto 25px auto;
  color: #56593d;
  text-align: center;
  line-height: 60px;
}

@media only screen and (max-width: 1230px) {
  .essentialsText {
    padding-top: 20px;
  }

  .essentialsText h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .essentialsContent {
    height: 520px;
    margin-bottom: 10px;
  }

  .essentialsText p {
    font-size: 15px;
  }

  .essentialsText h2 {
    line-height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .essentialsContent {
    height: 420px;
    margin-bottom: 10px;
  }

  .essentialsText p {
    font-size: 10px;
  }
  .essentialsText h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .essentialsContent {
    max-width: 295px;
    height: 315px;
    margin-bottom: 10px;
  }

  .essentialsText p {
    font-size: 8px;
  }

  .essentialsText h2 {
    font-size: 12px;
    line-height: 15px;
  }
}
